# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local

# Database
*.db
*.db-journal

# Uploads
uploads/*
!uploads/.gitkeep

# IDE
.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/

.vercel
